body {
    background-image: url("../../../public/images/svgs/star.svg");
}

.shape {
    position: absolute;
    top: -162.05px;
    left: 120.35px;
    width: 394px;
    height: 406px;
    background: linear-gradient(181.28deg, rgba(255, 255, 255, 0) 1.09%, rgba(255, 255, 255, 0.15) 82.08%);
    z-index: -1;
    transform: rotate(28.28deg);
    filter: blur(63.73px);
}

.items__wrapper {
    background: linear-gradient(262.65deg, #FFFFFF 0.85%, #F7FFFF 48.45%, #FFFFFF 96.06%);
}

.item__active button {
    border: 1px solid #17C7C7;
    box-shadow: 0px 4px 4px 0px #E0FFFF;
    color: #6CDCDC;
}

.item__active span {
    color: #6CDCDC;
    font-weight: 500;
}

.reports__banner {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 9px 18px 11px 14px;
    background: #EFF0F680;
    border-radius: 10px;
    z-index: 1;
}

.reports__banner::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(90deg, #FF0000, #CC0000, #990000);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.reports__text-gradient {
    background: linear-gradient(90deg, #FF0000 0%, #CC0000 50%, #990000 100%);
    color: transparent;
    background-clip: text;
}

.input-shadow {
    box-shadow: 0px 1px 2px 0px #E4E5E73D;
}

.custom-shadow {
    box-shadow: 0px 3px 6px 0px #00000005 inset;
}

.filter-button__shadow {
    box-shadow: 0px -2px 2px 0px #00000008 inset, 0px 1px 2px 0px #E4E5E73D;
}

.checkbox {}

.checkbox__input {
    display: none;
}

.checkbox__marker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid black;

    >svg {
        color: white;
        width: 15px;
        height: 15px;
    }
}

.checkbox__input:checked+.checkbox__marker {
    display: flex;
    background-color: #20CFCF;
    border: none;
}

.custom__jalali+input {
    position: absolute;
    width: 100%;
    height: 46px;
    top: -20px;
    outline: none;
    opacity: 0;
}

.date-picker input {
    color: #8C8C8C;
}

.date-picker input {
    width: 100%;
    height: 100%;
}