@import "tailwindcss";

@font-face {
    font-family: "pinar";
    src: url("/fonts/Pinar.woff2") format("woff2");
    font-display: swap;
}

@theme {
    --font-pinar: "pinar";

    --breakpoint-sm: 576px;
    --breakpoint-md: initial;
    --breakpoint-lg: initial;
    --breakpoint-xl: initial;
    --breakpoint-2xl: initial;

    --color-body: #0D0D1B;
}

@utility container {
    margin-inline: auto;
    padding-inline: 24px;
}

body {
    font-family: var(--font-pinar);
    background-color: var(--color-body);
    background-image: url("../public/images/svgs/star.svg");
}

/* ==== Custom Styles ==== */
.shape {
    position: absolute;
    top: -162.05px;
    left: 120.35px;
    width: 394px;
    height: 406px;
    background: linear-gradient(181.28deg, rgba(255, 255, 255, 0) 1.09%, rgba(255, 255, 255, 0.15) 82.08%);
    z-index: -1;
    transform: rotate(28.28deg);
    filter: blur(63.73px);
}

.plans {
    background: linear-gradient(262.65deg, #FFFFFF 0.85%, #F7FFFF 48.45%, #FFFFFF 96.06%);
}

.custom-shadow {
    box-shadow: 0px -3px 6px 0px #F4F5FA99 inset;
}

.plans__active button {
    border: 1px solid #17C7C7;
    box-shadow: 0px 4px 4px 0px #E0FFFF;
}

.plans__active span {
    color: #17C7C7;
    font-weight: 500;
}