@import "tailwindcss";

@font-face {
    font-family: "pinar";
    src: url("/fonts/Pinar.woff2") format("woff2");
    font-display: swap;
}

@theme {
    --font-pinar: "pinar";

    --breakpoint-sm: 576px;
    --breakpoint-md: initial;
    --breakpoint-lg: initial;
    --breakpoint-xl: initial;
    --breakpoint-2xl: initial;

    --color-body: #f6f8fa;
}

@utility container {
    margin-inline: auto;
    padding-inline: 24px;
}

body {
    font-family: var(--font-pinar);
    background-color: var(--color-body);
}