.section-top {
    background-image: url("/images/svgs/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.tabs {
    box-shadow: 0px 3px 6px 0px #00000005 inset;
}

.tab-content+span {
    position: relative;
}

.tab-content+span::before,
.tab-content+span::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    width: 55px;
    height: 1px;
    margin: auto;
    background-color: #edf1f3;
}

.tab-content+span::before {
    right: 0;
}

.tab-content+span::after {
    left: 0;
}

.tab-content .custom__input,
.date-picker {
    box-shadow: 0px 1px 2px 0px #e4e5e73d;
}

.tab-content form button[type="submit"] {
    background: linear-gradient(0deg, #20cfcf, #20cfcf), linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
}

.date-picker input {
    height: 100%;
    width: 100%;
    text-align: left;
    outline: none;
}

.react-international-phone-flag-emoji {
    width: 22px !important;
    height: 22px !important;
    margin: 0 !important;
}

.react-international-phone-country-selector-button__button-content {
    gap: 5px !important;
}

.react-international-phone-country-selector-button__dropdown-arrow {
    margin: 0 !important;
}

.timer::before,
.timer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 97px;
    height: 1px;
    background-color: #EDF1F3;
}

.timer::before {
    right: 0;
}

.timer::after {
    left: 0;
}